/**
 * Place your custom CSS styles here.
 **/

/*

   agreed_to_review color:#EE6600;
   reviewer_invited style="color:#FF0000;"
   review_complete color:#008800;
   reviewer_declined style="color:#000000;

*/

.agreed_to_review { color:#EE6600; }
.reviewer_invited { color:#FF0000; }
.review_complete { color:#008800; }
.reviewer_declined { color:#000000; }


