/* these are the colors used for the different classes
 * in the paper details page.  So we color the status
 * when we add them to the table */

.agreed_to_review { color:#EE6600; }
.reviewer_invited { color:#FF0000; }
.review_complete { color:#008800; }
.reviewer_declined { color:#000000; }


